@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');
@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.momo-font {
  font-family: 'Momo Signature', cursive;
}
